<template>
  <div class="login">
    <div class="login_form">
      <h2>欢迎登陆</h2>
      <div class="login_inp">
        <el-form :model="form" class="demo-form-inline" size="small" :rules="rules">
          <el-form-item label prop="username">
            <el-input v-model="form.username">
              <el-button slot="prepend" icon="el-icon-user-solid"></el-button>
            </el-input>
          </el-form-item>
          <el-form-item label prop="password">
            <el-input v-model="form.password" type="password">
              <el-button slot="prepend" icon="el-icon-lock"></el-button>
            </el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="getData()">登陆</el-button>
          </el-form-item>
        </el-form>
      </div>
    </div>
  </div>
</template>
<script>
import { http } from "../http";
export default {
  data() {
    return {
      form: {
        username: "",
        password: ""
      },
      rules:{
        username:{
          required: true, message: "用户名不能为空", trigger: 'blur'
        },
      password:{
          required: true, message: "密码不能为空", trigger: 'blur'
        }
      }
    };
  },
  methods: {
    // promise请求数据
    // getData() {
    //   http("login", "post", this.form).then(res => {
    //     console.log(res);
    //   });
    // }

    //async请求数据
    async getData(){
      const res=await http("login", "post", this.form);
      console.log(res)
      this.$store.commit("setToken",res.token)
      this.$store.commit("setUsername",res.username)
      this.$router.replace("/home")
    }
  }
};
</script>
<style lang="scss" scoped>
.login {
  width: 100%;
  height: 100vh;
  background: url(https://file.iviewui.com/admin-dist/img/login-bg.0899ffa6.jpg)
    center center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.login_form {
  width: 300px;
  background: #fff;
  border-radius: 15px;
  margin-right: 100px;
  h2 {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    font-weight: 700;
    box-sizing: border-box;
  }
  button{
      width: 100%
  }
}
.login_inp{
    width: 100%;
    padding: 15px;
    box-sizing: border-box
}
</style>